.try {
  img {
    width: -100px;
  }
}
.opdracht1 {
  height: 400px * 2;
  width: auto;
}
.opdracht2 {
  height: 400px + 100;
  width: auto;
}
.opdracht3 {
  height: 400px - 300px;
  width: auto;
}
.opdracht4 {
  height: 200px + 100px - 400px;
  width: auto;
}
.opdracht5 {
  height: 200px * 3;
  width: auto;
}
.opdracht6 {
  height: 750px * 1;
  width: auto;
}
.opdracht8 {
  height: 30px / 5px;
  width: 24px / 4;
}
.opdracht8 {
  height: (30px / 5px);
  width: (24px / 4);
}
