$background-color: rgb(134, 134, 134);
$text-color: rgb(255, 255, 255);
$text-color-hover: rgb(170, 60, 60);
$background-color-hover: rgb(161, 151, 59);

$begin-kleur: yellow;
$eind-kleur: green;
$time: 6s;