* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  background: lightblue;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.link {
  text-decoration: none;
}

@import "./weatherLanding";
@import "./cardStyling";
