/*fontsize*/
$header1: 5rem;
$header2: 2rem;
$header3: 3.5rem;
$header4: 1.7rem;
$text: 1.7rem;

/*colors*/
$bck-clr: rgb(136, 124, 121);
$txt-button1-color: rgb(120, 120, 216);
$txt-button2-color: rgb(117, 194, 117);
$border-button-color: rgb(117, 194, 117);
$back-ground: rgb(136, 124, 121);
/*footer*/
$footer-background-color: rgb(128, 179, 128);
$footer-txt-color: rgb(81, 163, 190);
