.crypto-container {
  .red {
    color: red;
  }
  .green {
    color: green;
  }
  border: solid red 1px;
  .row {
    border: solid rgb(0, 4, 255) 1px;
    display: flex;
    flex-direction: row;
    &__crypto {
      border: solid rgb(53, 148, 81) 1px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      &__img {
        width: 15%;
      }
      &__name-container {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
    &__data {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: solid pink 1px;
    }
  }
}
