@import "../abstracts/variables";
@import "../components/buttons";
@import "../abstracts/mixins";

.header {
  #{&}__img {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url(/images/wokken.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 50rem;
    @include flex(center, center, column);
  }
  #{&}__content {
    width: 40rem;
    color: $txt-button1-color;
    border: solid 1px rgb(68, 66, 66);
    border-radius: 5%;
    background-color: rgba(99, 88, 88, 0.5);
    padding: 3rem;
  }
  #{&}__button-box {
    width: 100%;
    margin-top: 1rem;
    @include flex(space-around, center, row);
  }
  #{&}__button {
    @include basic-button($txt-button1-color);

    &:nth-child(2) {
      @include basic-button($txt-button2-color);
    }
  }
  #{&}__h1 {
    font-size: $header1;
  }
  #{&}__p {
    font-size: $header2;
  }
}

/*media query header*/
@media only screen and (max-width: 400px) {
  .header {
    #{&}__content {
      width: 30rem;
    }
    #{&}__button-box {
      display: flex;
      flex-direction: column;
    }
    #{&}__button {
      margin-top: 1rem;
    }
  }
}
