@import "../abstracts/variables";
@import "../abstracts/mixins";

.header {
  #{&}__nav {
    font-size: 1.8rem;
    min-height: 5rem;
    padding: 1rem;
    width: 100%;
    background-color: $bck-clr;
    @include flex(flex-end, center, row);
  }
  #{&}__ul {
    display: flex;
    list-style: none;
  }
  #{&}__li {
    margin-right: 1rem;  
  }
}

