.about {
  background-color: #00103a;
  height: 100vh;
  min-height: 100rem;
  @include flex(space-around, center, column);
  text-align: center;
  position: relative;
  // overflow: hidden;
  color: #ffffff;
  &__container {
    height: 95vh;
    // padding: 6rem 5rem;
    width: 70%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__top {
    @include flex(center, center, column);
    height: 100%;
    &__h2 {
      font-size: 3.5rem;
      margin-bottom: 3rem;
    }
    .moon {
      width: 50%;
      min-width: 40rem;
      height: 50%;
      min-height: 20rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      z-index: -1;
    }
    &__moonpic {
      width: 60%;
    }
    &__profilepic {
      width: 160px;
      border-radius: 50%;
      filter: drop-shadow(0 0 6px #699bff);
      position: absolute;
    }
    &__text {
      width: 130%;
    }
    &__p {
      font-size: 2rem;
      margin-bottom: 3rem;
    }
  }
  &__bottom {
    background: linear-gradient(180deg, #00103a 70%, #304e63 100%);
    color: white;
    filter: drop-shadow(0 0 6px #699bff);
    margin-top: 20px;
    padding: 15px;
    border-radius: 100px;
    @include flex(flex-start, center, column);
    &__icons {
      @include flex(space-evenly, center, row);
      margin: 20px;
      flex-wrap: wrap;
    }
    &__icon-container {
      height: 10rem;
      width: 13rem;
    }
    &__icon {
      height: 4rem;
    }
  }
}

/*responsiveness*/
@media only screen and (min-width: 0px) and (max-width: 360px) {
  .about {
    justify-content: space-around;
    &__container {
      width: 95%;
      padding: 2rem 0;
      a {
        display: none;
      }
    }
    &__top {
      &__h2 {
        font-size: 2rem;
        margin-bottom: 2rem;
      }
      &__profilepic {
        width: 130px;
        margin-bottom: 1.5rem;
      }
      &__text {
        width: 95%;
      }
      &__p {
        margin-bottom: 0;
        font-size: 1.7rem;
      }
    }
    &__bottom {
      display: none;
    }
  }
}
@media only screen and (min-width: 360px) and (max-width: 700px) {
  .about {
    // height: 130vh;
    justify-content: space-around;
    &__container {
      width: 95%;
      // padding: 2rem 0;
      // height: 86vh;
      // a {
      //   display: none;
      // }
    }
    &__top {
      &__h2 {
        font-size: 2rem;
        margin-bottom: 2rem;
      }
      &__profilepic {
        width: 130px;
        margin-bottom: 1.5rem;
      }
      &__text {
        width: 95%;
      }
      &__p {
        margin-bottom: 0;
        font-size: 2.2rem;
      }
    }
    &__bottom {
      display: none;
    }
  }
}
@media only screen and (min-width: 700px) and (max-width: 1000px) {
  .about {
    &__container {
      width: 85%;
      a {
        display: none;
      }
    }
    &__top {
      &__text {
        width: 95%;
      }
    }
    &__bottom {
      &__icon-container {
        width: 10rem;
        height: 5rem;
        h5 {
          font-size: 1.5rem;
        }
      }
      &__icon {
        height: 2rem;
      }
    }
  }
}
@media only screen and (min-width: 1500px) {
  .about {
    &__container {
      width: 40%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}
