.skills {
  height: 100vh;
  width: 100%;
  background-color: #00103a;
  @include flex(space-around, center, column);
  position: relative;
  &__container {
    width: 80%;
    max-width: 90rem;
    background: linear-gradient(180deg, #00103ab7 70%, #304e63 100%);
    color: white;
    filter: drop-shadow(0 0 6px #699bff);
    border-radius: 100px;
    z-index: 1;
    @include flex(center, center, column);
    padding: 3rem;
  }
  &__title {
    color: white;
  }
  &__card-container {
    @include flex(center, center, row);
    flex-wrap: wrap;
    padding: 3rem;
  }
  &__card {
    width: 15%;
    min-width: 8rem;
    @include flex(center, center, column);
    margin: 1rem;
    background-color: #699bff;
    box-shadow: 10px 10px 6px rgba(128, 128, 128, 0.377);
    border-radius: 10px;
    img {
      width: 90%;
      margin: 1rem;
    }
    h4 {
      font-size: 1.5rem;
      padding: 0rem 1rem 1rem 1rem;
    }
  }
  &__earth-top {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    overflow: hidden;
    position: absolute;
    bottom: 0;
  }

  &__arrow {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
}

/*responsiveness*/
@media only screen and (min-width: 0px) and (max-width: 430px) {
  .skills {
    &__container {
      width: 95%;
      padding: 2rem 0;
    }
    &__card {
      width: 30%;
      margin: 1px;
    }
  }
}

@media only screen and (min-width: 1500px) {
  .about {
    &__container {
      width: 40%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}
