.work {
  background-color: #00103a;
  height: 100vh;
  min-height: 70rem;
  @include flex(space-between, center, column);
  &__container-center {
    z-index: 1;
    width: 100%;
    height: 100%;
    @include flex(space-around, center, column);
  }
  &__title-container {
    margin-bottom: 1rem;
    h3 {
      color: #ffffff;
    }
  }
  &__container {
    width: 80%;
    max-width: 100rem;
    background: linear-gradient(180deg, #00103ab7 70%, #304e63 100%);
    color: white;
    filter: drop-shadow(0 0 6px #699bff);
    border-radius: 20px;
    @include flex(center, center, column);
    padding: 3rem;
  }
  &__title {
    color: white;
  }
  &__card-container {
    @include flex(center, center, row);
    flex-wrap: wrap;
  }
  &__card {
    width: 30rem;
    height: 20rem;
    min-width: 7rem;
    // background-color: #699bff;
    background-color: transparent;
    border-radius: 10px;
    margin: 0.5rem;
    color: #00103a;
    text-align: center;
    @include flex(center, center, column);

    &:hover .card-inner {
      transform: rotateY(180deg);
      // transform: rotate3d(1, 1, 0, 180deg);
      z-index: 1;
    }
    .card-front,
    .card-back {
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 10px;
      padding-bottom: 1rem;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      // transition: all 1s cubic-bezier(.5,1.3,.5,1.3);
      // transform-style: preserve-3d;
    }
    .card-inner {
      position: relative;
      width: 100%;
      height: 100%;
      text-align: center;
      transition: transform 0.6s;
      transform-style: preserve-3d;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      .card-front {
        background-color: #699bff;
        color: black;
        .img-container-beastrows {
          width: 100%;
          height: 80%;
          background: url("https://i.postimg.cc/pLk379T7/Beast-Rows-Alpha.png");
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
        }
        .img-container-techgrounds {
          width: 100%;
          height: 80%;
          background: url("https://i.postimg.cc/yx4nJZpP/Tech-Grounds-Page.png");
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
        }
        .img-container-crypto-world {
          width: 100%;
          height: 80%;
          background: url("https://i.postimg.cc/1zN50Fmm/Nieks-crypto-world.png");
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
        }
        .img-container-underconstruction {
          width: 100%;
          height: 80%;
          background: url("https://i.postimg.cc/XNzqFdXg/underconstruction.png");
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
        }
        p {
          text-align: center;
        }
      }
      .card-back {
        background-color: #699bff;
        color: white;
        transform: rotateY(180deg);
        p {
          font-size: 1.8rem;
        }
        button {
          border: none;
          border-radius: 10px;
          padding: 0.5rem 1rem;
          color: #00103a;
        }
      }
    }
  }
  &__earth-bottom {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    overflow: hidden;
    position: absolute;
    img {
      width: 120%;
      max-width: 180rem;
      min-width: 140rem;
    }
  }
  &__arrow {
    // position: absolute;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    z-index: 3;
  }
}

@media only screen and (min-width: 0px) and (max-width: 430px) {
  .work {
    height: 150vh;
    &__container {
      width: 95%;
      padding: 2rem 0;
    }
    &__card {
      .card-inner {
        .card-front .card-back {
          width: 40%;
          height: 12rem;
        }
      }
      // width: 40%;
      // height: 12rem;
      // margin: 1px;
    }
  }
}
