.work {
  background-color: #00103a;
  height: 100vh;
  @include flex(space-between, center, column);
  &__container-center {
    z-index: 1;
    width: 100%;
    height: 100%;
    @include flex(space-around, center, column);
  }
  &__title-container {
    margin-bottom: 1rem;
    h3 {
      color: #ffffff;
    }
  }
  &__container {
    width: 80%;
    max-width: 100rem;
    background: linear-gradient(180deg, #00103ab7 70%, #304e63 100%);
    color: white;
    filter: drop-shadow(0 0 6px #699bff);
    border-radius: 20px;
    @include flex(center, center, column);
    padding: 3rem;
  }
  &__title {
    color: white;
  }
  &__card-container {
    @include flex(center, center, row);
    flex-wrap: wrap;
  }
  &__card {
    width: 30rem;
    height: 20rem;
    min-width: 7rem;
    background-color: #699bff;
    border-radius: 10px;
    margin: 0.5rem;
    color: #00103a;
    text-align: center;
    @include flex(center, center, column);
    // .img-container {
    //   width: 100%;
    //   height: 80%;
    //   border:solid red 1px;
    //   overflow: hidden;
    //   // img {
    //   //   // width: 100%;
    //   //   object-fit: contain;
    //   // }
    // }

      .img-container-beastrows{
        width: 100%;
        height: 80%;
        background: url("https://i.postimg.cc/pLk379T7/Beast-Rows-Alpha.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }
      .img-container-techgrounds{
        width: 100%;
        height: 80%;
        background: url("https://i.postimg.cc/yx4nJZpP/Tech-Grounds-Page.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }
      .img-container-underconstruction{
        width: 100%;
        height: 80%;
        background: url("https://i.postimg.cc/XNzqFdXg/underconstruction.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }
    p {
      text-align: center;
    }
  }
  &__earth-bottom {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    overflow: hidden;
    position: absolute;
  }
  &__arrow {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    z-index: 3;
  }
}

@media only screen and (min-width: 0px) and (max-width: 430px) {
  .work {
    &__container {
      width: 95%;
      padding: 2rem 0;
    }
    &__card {
      width: 40%;
      height: 12rem;
      margin: 1px;
      padding-bottom: 1rem;
    }
  }
}