.canvas1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.canvas2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  z-index: -1;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.body {
  background-color: white;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#canvas1 {
  display: none;
}

#canvas2 {
  display: none;
}

.rekenmachine-all {
  width: 30rem;
  height: 45rem;
  position: absolute;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotateX(50deg) rotateY(0deg) rotateZ(-20deg);
          transform: rotateX(50deg) rotateY(0deg) rotateZ(-20deg);
}

.rekenmachine-all .rekenmachine-left {
  height: 100%;
  width: 60px;
  top: 0;
  position: absolute;
  border: solid 1px white;
  -webkit-transform: translateZ(-60px) rotateY(90deg) translateZ(-60px);
          transform: translateZ(-60px) rotateY(90deg) translateZ(-60px);
  -webkit-transform-origin: right;
          transform-origin: right;
  background: black;
}

.rekenmachine-all .rekenmachine-right {
  height: 100%;
  width: 60px;
  top: 0;
  position: absolute;
  border: solid 1px white;
  -webkit-transform: translateZ(-60px) rotateY(90deg) translateZ(240px);
          transform: translateZ(-60px) rotateY(90deg) translateZ(240px);
  -webkit-transform-origin: right;
          transform-origin: right;
  background: black;
}

.rekenmachine-all .rekenmachine-bottom {
  width: 100%;
  height: 60px;
  position: absolute;
  border: solid 1px white;
  -webkit-transform: rotateX(90deg) translateZ(60px);
          transform: rotateX(90deg) translateZ(60px);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.rekenmachine-all .rekenmachine-bottom__background1, .rekenmachine-all .rekenmachine-bottom__background2 {
  background-color: rgba(255, 255, 255, 0.739);
  color: rgba(255, 255, 255, 0.739);
  width: 1rem;
  height: 1rem;
  outline: none;
  border: none;
  border-radius: 10px;
  margin: 1px;
}

.rekenmachine-all .rekenmachine-back {
  -webkit-transform: translateZ(-60px) translateY(-450px);
          transform: translateZ(-60px) translateY(-450px);
  border: solid white 2px;
  background-color: black;
  width: 30rem;
  height: 45rem;
  position: absolute;
  -webkit-box-shadow: -10px 10px 35px 3px red;
          box-shadow: -10px 10px 35px 3px red;
}

.rekenmachine-all .rekenmachine-top {
  width: 100%;
  height: 60px;
  top: 0;
  position: absolute;
  border: solid 1px white;
  -webkit-transform: rotateX(90deg) translateZ(60px);
          transform: rotateX(90deg) translateZ(60px);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  background-color: black;
}

.rekenmachine-front {
  border: solid white 2px;
  background-color: black;
  border-radius: 0px;
  width: 30rem;
  height: 45rem;
}

.rekenmachine-front__screen {
  font-size: 5rem;
  border-radius: 10px 10px 0px 0px;
  width: 100%;
  background-color: #504f4f;
  color: white;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 9rem;
}

.rekenmachine-front__input {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0.5rem;
}

.rekenmachine-front__input__buttons {
  outline: none;
  border: none;
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  font-size: 3rem;
  margin: 0.5rem;
  background-color: #929191;
}

.rekenmachine-front__input :nth-child(-n + 3) {
  background-color: lightgrey;
}

.rekenmachine-front__input :nth-child(4n + 4) {
  background-color: orange;
}

.rekenmachine-front__input .button-yellow {
  background-color: green;
}

.rekenmachine-front__input .button-wide {
  width: 13rem;
  border-radius: 200px;
}
/*# sourceMappingURL=style.css.map */