* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.body {
  background-color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rekenmachine {
  border: solid black 2px;
  background-color: black;
  border-radius: 10px;
  width: 30rem;
  height: 45rem;
  box-shadow: 10px 10px 35px 3px rgb(0, 0, 0);

  &__screen {
      font-size: 5rem;
      border-radius: 10px 10px 0px 0px;
      width: 100%;
      background-color: rgb(80, 79, 79);
      color: white;
      padding: 1rem;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      height: 9rem;
  }
  &__input {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      margin-top: 0.5rem;
    &__buttons {
        outline: none;
        border: none;
        border-radius: 50%;
        width: 6rem;
        height: 6rem;
        font-size: 3rem;
        margin: 0.5rem;
        background-color: rgb(146, 145, 145);
    }
    :nth-child(-n + 3) {
        background-color: lightgrey;
      }
    :nth-child(4n + 4) {
        background-color: orange;
      }
    .button-yellow {
        background-color: orange;
    }
    .button-wide {
        width: 13rem;
        border-radius: 200px;
    }
  }
}
