@import "./typography";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: $main-fontfam;
  font-size: $main-fontsize;
}

a {
  text-decoration: none;
}
