/* Glabal styles*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  background-color: rgb(0, 0, 0);
  font-size: 2rem;
  font-family: "Ruhl", sans-serif;
}
a {
  text-decoration: none;
  color: rgb(209, 209, 209);
  text-shadow: 1px 1px 2px black;
}

/*Background*/
.background-top {
  position: absolute;
  min-height: 50vh;
  width: 100%;
}
.background-video {
  position: relative;
  width: 100%;
  overflow: hidden;
}
video {
  position: relative;
  width: 100%;
  margin-top: -7%;
  margin-bottom: -9%;
}
.video-buttons {
  position: relative;
  text-align: end;
  margin-top: -2rem;
  z-index: 5;
}
.mute-sound,
.enable-sound {
  border: none;
  background-color: transparent;
  width: 4rem;
}
.mute-sound img,
.enable-sound img {
  filter: invert(100%);
  width: 3rem;
}
.check-sound {
  display: none;
}

/*Header*/
.main-head {
  background: linear-gradient(rgba(0, 0, 0, 0.9), transparent);
  color: white;
  position: sticky;
}
nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
  min-height: 10vh;
  padding: 2rem;
  margin: auto;
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  flex: 1 1 30rem;
}
#logo {
  flex: 2 1 60rem;
  color: rgb(201, 29, 29);
}
